body {
    font-family: "Poppins", Arial, sans-serif;
}

.validation-message {
    color: indianred;
}

.user-thumbnail {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.file-input-image {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.file-delete-btn {
    cursor: pointer;
}

.category-card {
    width: 18rem;
}

    .category-card img {
        object-fit: cover;
        height: 286px;
    }

.fully-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

.account-form {
    width: 25rem;
}

.brand-link {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.pointer {
    cursor: pointer;
}

.half-font-size {
    font-size: 50%;
}

.star-checked {
    color: orange;
}

.user-profile-picture {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.category-search-card:hover {
    background-color: #f8f9fa;
}